* {
  

  font-family: 'Forum';
  letter-spacing: 2px;
  /* font-family: 'Source Code Pro', monospace; */
}


.body_wallpaper{
    align-items: center;
    background-image: url(../images/nike-football.webp);
    background-size: cover;
    width: 100%;
    height: 100%;
    align-items: center;
    color: rgba(255, 255, 255, 0.842);
    text-align: center;
}

.button_tfa {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.5s;
    height: 5vh;
    border-radius: 1vh;
}

.button_tfa:hover {
    background-color:#3011ddc9; /* Green */
    color: rgb(212, 207, 207);
}

.tabla{
    justify-content: center;
    display: flex;
    background-color:     rgba(9, 11, 116, 0.561);
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
}
table {
  width:55%;
}
table, th, td {
  border: 4px solid transparent;
  /* border: 1px solid rgba(9, 11, 116, 0.561); */
  border-collapse: collapse;
}
td {
  padding: 10px;
  opacity: 0.8;
  text-align: center;
}

th {
    padding: 20px;
    text-align: center;
    font-size: 2vh;
    color: rgba(255, 255, 255, 0.603);
    
  }

.club_icon{
  height: 7vh;
}


.iconsSmall {
  height: 4.5vh;
}

.masInfoIcon{
  height: 3vh;
  opacity: 0.7;
  transform: scaleX(-1);
  margin-bottom: 3vh;
}
.masInfoIcon:hover{
  height: 3.5vh;
  opacity: 0.9;
}


.icons {
  width: 10vh;
}




.iconChampions {
  height: 12vh;
}

.goals {
  width: 5vh;
  font-size: 3vh;
  text-align: center;
}

.teamNames{
  width: 40vw;
  font-size: 3vh;
  letter-spacing: 5px;
}


.puntosFinal{
  font-size: 4.5vh;
  text-align: center;
}

.fecha{
  width: 60%;
  height: 20%;
  display: flex;
  flex: column;
  margin-right:0;
  justify-content: center;
  display: flex;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 2vh;
  opacity: 0.9;
  background-color:     rgba(9, 38, 116, 0.349);
  border: 2px solid transparent;
}



.fechaString{
  font-family: 'Forum';
  font-size: 3vh;
  letter-spacing: 2px;
  opacity: 0.7;
}

.MatchInfo{
  width:20vw;
  text-align: center;
  padding: auto;
  /* font-family: 'Roboto', sans-serif; */
  letter-spacing: 0;
}



.teamNames,.puntosFinal,.matchTeams,.GFTeams,.GCTeams,.DGTeams{
  background-color:     rgba(24, 70, 131, 0.561);
  border: 4px solid transparent;
  font-size: 3vh;
}


.tabla2{
  justify-content: center;
  display: flex;
  background-color:     rgba(9, 11, 116, 0.561);
  color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70%;
}


.paisOpaco{
  font-size: 2vh;
  opacity: 0.6;
}

h1{
  font-size: 4vh;
}

.fechaNames{
  font-size: 2.5vh;
}